<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/DBAPPAgendaJava?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">030191</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Pojo/Tunidadmedida.hbm.xml"/>
    <mapping resource="Pojo/Tactividad.hbm.xml"/>
    <mapping resource="Pojo/Tactividadparticipante.hbm.xml"/>
    <mapping resource="Pojo/Tusuario.hbm.xml"/>
    <mapping resource="Pojo/Tactividadcomentario.hbm.xml"/>
    <mapping resource="Pojo/Tusuarioamigotelefono.hbm.xml"/>
    <mapping resource="Pojo/Tusuarioamigo.hbm.xml"/>
    <mapping resource="Pojo/Tactividadpresupuesto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
